.about {
  height: 400px;
  background-image: image-url('spree/frontend/banners/about_banner.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.about-content {
  background-color: #f6f6f6;
}

.about-team {
  .about-image {
    background-color: $brand-light-gray;
    border-radius: 100px;
    width: 100px;
    height: 100px;
  }
}

.about-cta-section {
  background-color: $brand-primary;

  $gradient-start: #FF8A35;
  $gradient-end: #FF6B00;
  background: radial-gradient(ellipse at center top, $gradient-start 0%, $gradient-end 100%);
}
