/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *=# require spree/frontend
 *= require_self
 *= require font-awesome
*/

@import url('https://fonts.googleapis.com/css?family=Arvo|Montserrat:300,400,700');
@import "fonts";

@import "variables";
//@import "bootstrap";
//@import "font-awesome";

@import "nav_bar";
@import "footer";

@import "home";
@import "about";
@import "contact";
@import "customer_support";
@import "services";
@import "tires";
@import "blog";
@import "blog-post";
@import "faq";
@import "terms";
@import "coverage";
@import "single-city";




/*.hidden-sm-down {
  @include media-breakpoint-down(sm) {
    display:none;

  }
}
.hidden-md-up {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
*/