/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *=# require spree/frontend
 *= require_self
 *= require font-awesome
*/
@import url("https://fonts.googleapis.com/css?family=Arvo|Montserrat:300,400,700");
@font-face {
  font-family: 'GT Walsheim';
  src: font-url("GT-Walsheim-Medium.eot");
  src: font-url("GT-Walsheim-Medium.eot?#iefix") format("embedded-opentype"), font-url("GT-Walsheim-Medium.ttf") format("truetype"), font-url("GT-Walsheim-Medium.otf") format("opentype"), font-url("GT-Walsheim-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'GT Walsheim';
  src: font-url("GT-Walsheim-Light.eot");
  src: font-url("GT-Walsheim-Light.eot?#iefix") format("embedded-opentype"), font-url("GT-Walsheim-Light.ttf") format("truetype"), font-url("GT-Walsheim-Light.otf") format("opentype"), font-url("GT-Walsheim-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'GT Walsheim';
  src: font-url("GT-Walsheim-Bold.eot");
  src: font-url("GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), font-url("GT-Walsheim-Bold.ttf") format("truetype"), font-url("GT-Walsheim-Bold.otf") format("opentype"), font-url("GT-Walsheim-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
h1, h2, h3, h4, h5, h6, p {
  font-family: "GT Walsheim", "Montserrat", sans-serif !important; }

.navbar .logo-text, .nav-bar .logo-text {
  text-transform: uppercase;
  font-weight: normal;
  font-style: italic;
  color: #eee;
  white-space: nowrap;
  font-size: 12px;
  /*@include media-breakpoint-down(sm) {
    font-size: 9px;
  }*/ }
.navbar.dark, .nav-bar.dark {
  background-color: #363533; }
.navbar .nav-item.active a, .nav-bar .nav-item.active a {
  color: #fff; }
.navbar .nav-phone, .nav-bar .nav-phone {
  white-space: nowrap; }
.navbar .navbar-toggler, .nav-bar .navbar-toggler {
  color: #999; }
  .navbar .navbar-toggler:hover, .nav-bar .navbar-toggler:hover {
    color: #fff; }
.navbar #navbar-links a, .nav-bar #navbar-links a {
  font-weight: normal;
  color: #999;
  margin-left: 30px; }
  .navbar #navbar-links a:hover, .nav-bar #navbar-links a:hover {
    color: #fff; }
.navbar #navbar-links.collapsing, .navbar #navbar-links.show, .nav-bar #navbar-links.collapsing, .nav-bar #navbar-links.show {
  background-color: #fff; }
  .navbar #navbar-links.collapsing a, .navbar #navbar-links.show a, .nav-bar #navbar-links.collapsing a, .nav-bar #navbar-links.show a {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #000;
    text-align: center; }
    .navbar #navbar-links.collapsing a:first-child, .navbar #navbar-links.show a:first-child, .nav-bar #navbar-links.collapsing a:first-child, .nav-bar #navbar-links.show a:first-child {
      padding-top: 15px; }
    .navbar #navbar-links.collapsing a:last-child, .navbar #navbar-links.show a:last-child, .nav-bar #navbar-links.collapsing a:last-child, .nav-bar #navbar-links.show a:last-child {
      padding-bottom: 15px; }
    .navbar #navbar-links.collapsing a:hover, .navbar #navbar-links.collapsing a.active, .navbar #navbar-links.show a:hover, .navbar #navbar-links.show a.active, .nav-bar #navbar-links.collapsing a:hover, .nav-bar #navbar-links.collapsing a.active, .nav-bar #navbar-links.show a:hover, .nav-bar #navbar-links.show a.active {
      background-color: #f9f9f9;
      color: #ff6b00; }

footer {
  background-color: #212529;
  color: #ddd; }
  footer .nav-links a {
    color: #999;
    font-weight: normal; }
    footer .nav-links a:hover {
      color: #fff; }
  footer .nav-item.active a {
    color: #fff; }
  footer hr {
    border-top: 1px solid #555; }
  footer .footer-images {
    height: 180px;
    background-image: image-url("spree/frontend/footer.png");
    background-position: center;
    border-top: 4px solid #ff6b00; }
    footer .footer-images .hash-tag {
      border-radius: 0 0 3px 3px; }
  footer .social-buttons a {
    color: #8f9fa0; }
    footer .social-buttons a:hover {
      color: #ff6b00; }

.hero {
  height: 600px;
  background-color: #434342;
  background-image: image-url("spree/frontend/banners/home_banner.jpg");
  background-size: cover;
  background-position: center;
  color: white; }
  .hero .topbar .logo .logo-text {
    margin-left: -100px;
    font-size: 0.8rem;
    padding-top: 14px; }
  .hero .title h1 {
    font-weight: 600;
    font-size: 3.5rem;
    /*@include media-breakpoint-down(sm) {
      font-size: 2.5rem;
    }*/ }
  .hero .title span {
    border-bottom: 8px solid #ff6b00;
    display: inline-block;
    line-height: 45px; }
  .hero .cta a {
    padding: 20px 50px 20px 50px; }

.steps {
  background-color: #f6f6f6;
  padding-bottom: 80px; }
  .steps .description-text p {
    margin-left: 23px;
    border-left: 1px solid #ddd;
    padding-left: 30px;
    margin-top: 10px; }
  .steps .step-tiles .step-image img {
    width: 100%; }
  .steps .step-tiles .step-header .step-title {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding-top: 5px; }
    .steps .step-tiles .step-header .step-title h5 {
      font-size: 18px;
      font-weight: 600; }
  .steps .step-tiles .step-header .step-number {
    font-size: 1.75rem;
    font-weight: 500;
    color: #d9e0e2; }

.offers {
  font-size: 1.5rem; }
  .offers .offer {
    min-height: 350px;
    background-size: cover;
    background-position: center; }
  .offers .offer1 {
    background-image: image-url("spree/frontend/home/offer1.jpg"); }
  .offers .offer2 {
    background-image: image-url("spree/frontend/home/offer2.jpg");
    color: white; }
  .offers .offer3 {
    background-image: image-url("spree/frontend/home/offer3.jpg"); }
  .offers .offer4 {
    background-image: image-url("spree/frontend/home/offer4.jpg");
    color: white; }
  .offers .offer-text {
    width: 35%;
    font-weight: 600; }

.services .custom-tile {
  background-color: #f4f4f4;
  padding-left: 40px; }
  .services .custom-tile .phone-icon svg {
    stroke: #ff6b00;
    fill: none;
    width: 30px;
    height: 30px; }
  .services .custom-tile .custom-tile-hr {
    border-top-width: 2px; }

.benefits {
  background-color: #ff6b00;
  color: white;
  background: radial-gradient(ellipse at center top, #FF8A35 0%, #FF6B00 100%); }
  .benefits .benefit1 .benefit-image {
    width: 39.5%; }
  .benefits .benefit2 .benefit-image {
    width: 27%; }
  .benefits .benefit3 .benefit-image {
    width: 28.75%; }
  .benefits .divider {
    border-top-color: #ffc69d; }
  .benefits .description-text {
    color: #ffc69d; }

.cities {
  background-color: #31888d;
  color: white;
  background: radial-gradient(ellipse at center top, #3A959A 0%, #19656A 100%); }
  .cities .cities-section .cities-section-title-text {
    font-weight: 300; }
  .cities .cities-section .city-text {
    margin-top: 5px;
    color: #95c0c3; }
  .cities .cities-section .divider {
    width: 100%;
    border-top-color: #428e93;
    border-top-width: 2px;
    margin-top: 15px;
    margin-bottom: 10px; }
  .cities .divider {
    border-top-color: #70aeb2; }

.brands .brands-title {
  color: #8f9fa0; }

.subheader-text {
  color: #ff6b00;
  font-weight: 500; }

.description-text {
  color: #8f9fa0; }

.divider {
  width: 3%;
  /*@include media-breakpoint-down(sm) {
    width: 15%;
  }*/
  border-top-color: #ff6b00;
  border-top-width: 5px;
  margin-top: 25px;
  margin-bottom: 25px; }

.about {
  height: 400px;
  background-image: image-url("spree/frontend/banners/about_banner.jpg");
  background-size: cover;
  background-position: center;
  color: white; }

.about-content {
  background-color: #f6f6f6; }

.about-team .about-image {
  background-color: #d9e0e2;
  border-radius: 100px;
  width: 100px;
  height: 100px; }

.about-cta-section {
  background-color: #ff6b00;
  background: radial-gradient(ellipse at center top, #FF8A35 0%, #FF6B00 100%); }

.contact .intro-section {
  height: 600px;
  background-color: #434342;
  background-image: image-url("spree/frontend/banners/contact_banner.jpg");
  background-size: cover;
  background-position: center;
  color: white; }
  .contact .intro-section .contact-icon path {
    color: #ff6b00;
    fill: #ff6b00; }
  .contact .intro-section .contact-note {
    letter-spacing: 0.1em;
    font-size: 10px;
    border-radius: 3px;
    border: 1px solid #ff6b00;
    padding: 5px; }
.contact .contact-form-section {
  font-weight: normal;
  background-color: #f6f6f6; }
  .contact .contact-form-section label {
    color: #adadad; }
  .contact .contact-form-section textarea {
    min-height: 200px; }

.customer-support {
  background-color: #f6f6f6;
  padding-top: 75px; }
  .customer-support .divider {
    border-top: 4px solid #ff6b00;
    width: 35px; }
  .customer-support .contact-note {
    color: #adadad;
    letter-spacing: 0.1em;
    font-size: 10px;
    border-radius: 3px;
    border: 1px solid #adadad;
    padding: 5px; }

.services .cta-primary {
  position: relative;
  top: -25px; }
  .services .cta-primary .cta-btn {
    box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.2); }
.services .cta-btn {
  font-weight: bold;
  letter-spacing: 0.05em; }
.services .cta-section {
  background-color: #ff6b00;
  background: radial-gradient(ellipse at center top, #FF8A35 0%, #FF6B00 100%); }
.services .intro-section {
  height: 500px;
  background-color: #434342;
  background-image: image-url("spree/frontend/banners/services_banner.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding-bottom: 100px; }
.services .services-section {
  background-color: #f6f6f6; }
  .services .services-section .services-container {
    position: relative;
    top: -40px; }
  .services .services-section .card {
    border: none;
    color: #212529;
    box-shadow: 0px 2px 1px #ddd; }
    .services .services-section .card:hover {
      background-color: #fafafa; }
    .services .services-section .card .card-block {
      min-height: 195px; }

.tires-header {
  background-color: #363533; }

.blog {
  height: 330px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blog-header.jpg");
  background-size: cover, cover;
  background-position: center, center;
  color: white; }
  .blog .text-center {
    margin-bottom: 100px !important; }

a:hover {
  text-decoration: none;
  border: none; }

.blog-page {
  background-color: #f6f6f6 !important; }

.block-post {
  margin-bottom: 30px;
  width: 350px;
  height: 360px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .block-post img {
    width: 350px;
    height: 200px; }
  .block-post .data p {
    opacity: 0.7;
    font-family: GTWalsheim;
    font-size: 11px;
    font-weight: 500;
    line-height: 4.36;
    text-align: left;
    color: #8f9fa0;
    margin-bottom: 0px; }
  .block-post h6 {
    font-family: GTWalsheim;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.27;
    letter-spacing: -0.2px;
    text-align: left;
    color: #434342; }
  .block-post .t-b a {
    opacity: 0.7;
    font-family: "GT Walsheim", "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 4.36;
    letter-spacing: 0.5px;
    text-align: left;
    color: #8f9fa0; }
    .block-post .t-b a:last-child {
      margin-left: 17px; }
  .block-post .t-b a:hover {
    opacity: 1; }

.content {
  margin-top: -30px; }
  .content .col-4 {
    padding-left: 0px;
    padding-right: 0px; }

.load-more {
  cursor: pointer;
  width: 180px;
  height: 50px;
  border-radius: 3px;
  border: solid 2px #8f9fa0;
  background-color: #f6f6f6;
  position: relative;
  left: 50%;
  margin-left: -90px;
  margin-top: 60px;
  margin-bottom: 100px;
  transition: 3s;
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-align: center;
  color: #8f9fa0; }
  .load-more:hover {
    color: #f6f6f6;
    background-color: #8f9fa0;
    transition: 3s; }

.blog-post {
  height: 420px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blogpost-header.jpg");
  background-size: cover, cover;
  background-position: center, center;
  color: white; }
  .blog-post .text-center {
    margin-bottom: 29px !important; }
  .blog-post .dtb {
    margin-bottom: 140px !important;
    height: 24px;
    opacity: 0.4;
    font-family: "GT Walsheim", "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff; }
    .blog-post .dtb span {
      margin-right: 17px;
      margin-left: 17px; }
    .blog-post .dtb span:first-child {
      width: 71px;
      padding-right: 17px;
      margin-right: 0px;
      margin-left: 0px;
      border-right: 1px solid #ffffff; }

.info-block {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  width: 920px;
  margin-top: -80px; }
  .info-block h6 {
    padding-top: 77px;
    margin-right: 77px;
    margin-left: 77px;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    color: #434342; }
  .info-block p {
    margin-top: 50px;
    margin-right: 77px;
    margin-left: 77px;
    font-family: GTWalsheim;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    color: #8f9fa0; }
  .info-block p:last-child {
    padding-bottom: 77px; }
  .info-block img {
    width: 100%; }

.next-previous {
  width: 920px;
  border-bottom: 1px solid #d9e0e2;
  padding-bottom: 60px;
  margin-top: 58px; }
  .next-previous svg {
    fill: #8f9fa0;
    height: 18px;
    width: 21px; }
  .next-previous a P {
    font-family: "GT Walsheim", "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.56;
    color: #8f9fa0;
    width: 310px; }
  .next-previous .next {
    text-align: right; }
    .next-previous .next:before {
      content: url("../img/linkarowe.svg");
      transform: rotate(180deg);
      position: absolute;
      right: 0; }
    .next-previous .next p {
      margin-right: 51px;
      margin-bottom: 0px; }
  .next-previous .previous {
    text-align: left; }
    .next-previous .previous:before {
      content: url("../img/linkarowe.svg"); }
    .next-previous .previous P {
      margin-left: 24px;
      margin-bottom: 0px; }
  .next-previous a:hover {
    opacity: 0.8; }

.post-title {
  margin-top: 70px; }

a.previous-page {
  margin-top: 10px;
  margin-left: 15px;
  display: inline-block;
  float: left;
  top: 211px;
  left: 171px;
  background-image: url("../img/linkarowe2.svg");
  background-size: cover;
  width: 25px;
  height: 20px; }

@media (max-width: 991px) {
  .info-block {
    width: auto; }

  .next-previous {
    width: auto; }
    .next-previous .next p {
      display: none; }
    .next-previous .previous p {
      display: none; } }
.faq-page {
  background-color: white; }
  .faq-page .text-center {
    color: white;
    opacity: 1;
    margin-bottom: 66px; }

.faq {
  background-color: #343434 !important;
  height: 240px; }

.open-text {
  margin-bottom: 50px; }

.hide-text {
  width: 770px;
  margin-bottom: 124px;
  margin-top: 93px; }

.hide,
.hide + label ~ div {
  display: none; }

.hide + label {
  opacity: 1;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  color: black;
  cursor: pointer;
  display: inline-block; }

.hide:checked + label {
  color: #ff6b00;
  border-bottom: 0; }

.hide:checked + label + div {
  display: block;
  margin-left: 48px;
  margin-top: 40px;
  font-size: 16px;
  color: #8f9fa0;
  line-height: 28px;
  -webkit-animation: fade ease-in 0.5s;
  -moz-animation: fade ease-in 0.5s;
  animation: fade ease-in 0.5s; }

@-moz-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes nfade {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.hide + label:before {
  color: black;
  content: url("../img/arrows.png");
  display: block;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  opacity: 0.3;
  margin: 3px 5px;
  text-align: center;
  width: 26px;
  margin-right: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.hide:checked + label:before {
  opacity: 1;
  margin-right: 18px;
  animation: transform_r ease-in 0.5s;
  transform: rotate(90deg);
  content: url("../img/arrows-bottom.png"); }

.phone.h1.mt-3 {
  color: black !important; }

@keyframes transform_r {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(90deg); } }
@keyframes transform_l {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0deg); } }
@media (max-width: 991px) {
  .hide-text {
    width: auto;
    height: auto; } }
.terms-page .terms {
  height: 240px;
  background-color: #343434 !important; }
  .terms-page .terms .text-center {
    color: white;
    opacity: 1;
    margin-bottom: 66px; }
.terms-page .anchors {
  width: 350px;
  margin-top: 83px;
  left: 175px; }
  .terms-page .anchors ol {
    color: #8f9fa0; }
    .terms-page .anchors ol li a {
      width: 350px;
      height: 368px;
      font-family: GTWalsheim;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.88;
      text-align: left;
      color: #8f9fa0; }
      .terms-page .anchors ol li a:active, .terms-page .anchors ol li a:hover {
        color: #ff6b00; }
.terms-page .content {
  width: 720px;
  margin-top: 93px;
  margin-bottom: 93px; }
.terms-page h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: #434342;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 20px; }
.terms-page p {
  font-size: 16px;
  line-height: 1.75;
  text-align: left;
  color: #8f9fa0;
  margin-bottom: 30px; }

@media (max-width: 1300px) {
  .terms-page .anchors {
    left: 70px; } }
@media (max-width: 1140px) {
  .terms-page .content {
    width: 520px; } }
@media (max-width: 950px) {
  .terms-page .anchors {
    left: 30px; } }
@media (max-width: 800px) {
  .terms-page .anchors {
    display: none; } }
body {
  margin: 0;
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
  background-color: #fff; }

h6 {
  font-size: 24px;
  font-weight: 500;
  color: #434342;
  font-family: "GT Walsheim", "Montserrat", sans-serif; }

.coverage-page .coverage {
  height: 360px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blog-header.jpg");
  background-size: cover, cover;
  background-position: center, center;
  color: white; }
  .coverage-page .coverage .text-center {
    color: white;
    opacity: 1;
    margin-bottom: 185px; }

/*For form*/
label {
  opacity: 0.3;
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  margin-bottom: 5px; }

.form-control {
  height: 50px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #e2e2e2; }

.btn-primary {
  transition: 0.5s;
  cursor: pointer;
  height: 50px;
  border-radius: 3px;
  background-color: #ff6b00;
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
  border: none; }
  .btn-primary:hover {
    background-color: #ff6b00;
    opacity: 0.8;
    transition: 0.5s; }

/*End of form*/
/*Cities locations*/
.location .cities {
  background-color: #f6f6f6;
  background: #f6f6f6;
  color: black;
  border-top: 1px solid #f6f6f6; }
  .location .cities .cities-title {
    margin-top: 92px; }
  .location .cities .divider {
    border-top-color: #ff6b00; }
  .location .cities .cod-block {
    height: 280px;
    width: 790px;
    padding-top: 40px;
    padding-bottom: 42px;
    position: relative;
    margin-top: -122px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 13px 50px 0 rgba(0, 0, 0, 0.04);
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 22px; }
    .location .cities .cod-block form {
      width: 100%;
      margin-right: 98px;
      margin-left: 87px;
      margin-top: 38px;
      margin-bottom: 29px; }
      .location .cities .cod-block form .form-group {
        margin-bottom: 0px !important; }
      .location .cities .cod-block form .btn-primary {
        width: 265px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 0px;
        padding-top: 0px; }
        .location .cities .cod-block form .btn-primary:hover {
          opacity: 0.8; }
      .location .cities .cod-block form .form-control {
        width: 313px;
        margin-right: 27px; }
    .location .cities .cod-block .reply {
      margin-left: 87px; }
      .location .cities .cod-block .reply p {
        font-family: "GT Walsheim", "Montserrat", sans-serif;
        font-size: 16px;
        text-align: center;
        color: #8f9fa0;
        margin-left: 15px; }
        .location .cities .cod-block .reply p a {
          font-family: "GT Walsheim", "Montserrat", sans-serif;
          font-weight: 600;
          color: #ff6b00; }
          .location .cities .cod-block .reply p a:hover {
            opacity: 0.7; }
    .location .cities .cod-block .oval {
      width: 22.8px;
      height: 22.8px;
      border: solid 2px #ff6b00;
      border-radius: 50%;
      text-align: center; }
    .location .cities .cod-block .oval:before {
      content: '+';
      color: #ff6b00;
      font-size: 31px;
      position: relative;
      bottom: 13px;
      font-weight: 500;
      display: block;
      transform: rotate(45deg); }
  .location .cities .cities-section .divider {
    border-top-color: #d8d8d8;
    height: 1px;
    border-radius: 3px; }
  .location .cities .cities-section .city-text {
    color: #8f9fa0; }
.location .soon-cities {
  margin-bottom: 150px; }
.location .map {
  height: 688px;
  background-color: white;
  width: 100%; }
  .location .map .i-map {
    background: url("../img/map.png") no-repeat center left; }
  .location .map .m-form {
    width: 44%;
    margin-left: 56%; }
    .location .map .m-form form {
      margin-left: 27px;
      margin-top: 97px; }
      .location .map .m-form form label {
        margin-bottom: 12px; }
      .location .map .m-form form h6 {
        margin-bottom: 57px; }
      .location .map .m-form form .form-control {
        width: 255px;
        margin-bottom: 24px; }
      .location .map .m-form form .btn-primary {
        margin-top: 15px;
        width: 133px; }

/*End of cities locations*/
@media (max-width: 991px) {
  .location .map .i-map {
    background: none; }
  .location .map .m-form {
    width: auto;
    margin-left: 5%; }
    .location .map .m-form form {
      margin-right: 27px; }
      .location .map .m-form form .btn-primary {
        width: 255px; }
  .location .cities .cod-block {
    height: auto;
    width: auto; }
    .location .cities .cod-block form {
      width: auto; }
      .location .cities .cod-block form .btn-primary {
        width: 313px;
        margin-top: 15px; }
    .location .cities .cod-block .reply {
      margin-right: 87px; }

  .divider {
    width: 35px; } }
@media (max-width: 576px) {
  .location .cities .cod-block .reply, .location .cities .cod-block form {
    margin-right: 5%;
    margin-left: 5%; } }
.single-city-page .single-city {
  height: 360px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blog-header.jpg");
  background-size: cover, cover;
  background-position: center, center;
  color: white; }
  .single-city-page .single-city .text-center {
    color: white;
    opacity: 1;
    margin-bottom: 160px; }
.single-city-page .services {
  background-color: #f6f6f6; }
  .single-city-page .services .text-width {
    width: 70%;
    margin-top: 107px;
    margin-bottom: 73px; }
  .single-city-page .services h3 {
    margin-bottom: 30px; }
  .single-city-page .services p {
    margin-bottom: 24px; }
  .single-city-page .services .carousel {
    margin-top: 61px; }
  .single-city-page .services .carousel-indicators {
    top: -48px; }

.carousel-indicators li {
  cursor: pointer;
  background-color: #ff6b00 !important;
  opacity: 0.2;
  width: 28px;
  height: 4px; }

.carousel-indicators .active {
  opacity: 1; }

.reviews {
  height: 750px;
  background-color: #ffffff; }
  .reviews .carousel-indicators {
    top: -50px; }
  .reviews h4 {
    font-family: "GT Walsheim", "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    text-align: left;
    color: #434342;
    margin-bottom: 9px; }
  .reviews h5 {
    font-family: "GT Walsheim", "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #434342; }

h3 {
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  color: #434342; }

p {
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #8f9fa0; }

.review-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.testimonial-name {
  margin-left: 15px; }

.oi {
  color: #ffbc00; }

.false {
  color: #916800 !important; }

@media (max-width: 769px) {
  .reviews {
    height: auto; } }
/*.hidden-sm-down {
  @include media-breakpoint-down(sm) {
    display:none;

  }
}
.hidden-md-up {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
*/

/*# sourceMappingURL=all.css.map */
