.blog-post {
  height: 420px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blogpost-header.jpg");
  background-size: cover, cover;
  background-position: center, center;
  color: white;

  .text-center {
    margin-bottom: 29px !important;
  }

  .dtb {
    margin-bottom: 140px !important;
    height: 24px;
    opacity: 0.4;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    //font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    span {
      margin-right: 17px;
      margin-left: 17px;
    }
    span:first-child {
      padding-right: 17px;
      margin-right: 0px;
      margin-left: 0px;
      border-right: 1px solid #ffffff;
    }

  }

}

.info-block {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  width: 920px;
  margin-top: -80px;
  padding-bottom: 77px;


  h6 {
    padding-top: 77px;
    margin-right: 77px;
    margin-left: 77px;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    color: #434342;
  }
  p {
    margin-top: 50px;
    margin-right: 77px;
    margin-left: 77px;
    font-family: GTWalsheim;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    color: $brand-medium-gray;
  }

  img {
    width: 100%;
  }
}

.next-previous {
  width: 920px;
  border-bottom: 1px solid #d9e0e2;
  padding-bottom: 60px;
  margin-top: 58px;
  svg {
    fill: $brand-medium-gray;
    height: 18px;
    width: 21px;
  }
  a {
    P {
      font-family: $font-family-sans-serif;
      font-size: 18px;
     // font-weight: 500;
      line-height: 1.56;
      color: $brand-medium-gray;
      width: 310px;
    }
  }
  .next {
    text-align: right;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    line-height: 1.56;
    color: #8f9fa0;
    width: 390px;
    padding-right: 51px;
    &:before {
      content: url("../img/linkarowe.svg");
      transform: rotate(180deg);
      position: absolute;
      right: 0;

    }

  }
  .previous {
    text-align: left;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    line-height: 1.56;
    color: #8f9fa0;
    width: 390px;
    &:before {
      content: url("../img/linkarowe.svg");
      padding-right: 24px;
    }
  }
  a:hover {
    opacity: 0.8;
  }
}


.post-title{
  margin-top: 70px;
}

a.previous-page{
  margin-top: 10px;
  margin-left: 15px;
  //position: absolute;
  display: inline-block;
  float: left;
  top:211px;
  left: 171px;
  background-image: url("../img/linkarowe2.svg");
  background-size: cover;
  width: 25px;
  height: 20px;

}

@media (max-width: 991px) {
  .info-block{
    width: auto;
  }
  .next-previous{
    width: auto;
    .next{
      p{
        display: none;
      }
    }
    .previous{
      p{
        display: none;
      }
    }
  }
}
