.blog {
  height: 330px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blog-header.jpg");
  background-size: cover, cover;
  background-position: center, center;
  color: white;

  .text-center {
    margin-bottom: 100px !important;
  }
}

a:hover {
  text-decoration: none;
  border: none;
}

.blog-page {
  background-color: #f6f6f6 !important;
}

.block-post {
  margin-bottom: 30px;
  width: 350px;
  height: 360px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  img {
    width: 350px;
    height: 200px;
  }

  .data {
    p {
      opacity: 0.7;
      font-family: GTWalsheim;
      font-size: 11px;
      font-weight: 500;
      line-height: 4.36;
      text-align: left;
      color: #8f9fa0;
      margin-bottom: 0px;
    }
  }
  h6 {
    font-family: GTWalsheim;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.27;
    letter-spacing: -0.2px;
    text-align: left;
    color: #434342;
  }

  .t-b {
    a {
      opacity: 0.7;
      font-family: $font-family-sans-serif;
      font-size: 11px;
      font-weight: bold;
      line-height: 4.36;
      letter-spacing: 0.5px;
      text-align: left;
      color: #8f9fa0;
      &:last-child {
        margin-left: 17px;
      }
    }
    a:hover {
      opacity: 1;
    }

  }
}

.content {
  margin-top: -30px;
  .col-4 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.load-more {
  cursor: pointer;
  width: 180px;
  height: 50px;
  border-radius: 3px;
  border: solid 2px #8f9fa0;
  background-color: rgb(246, 246, 246);
  position: relative;
  left: 50%;
  margin-left: -90px;
  margin-top: 60px;
  margin-bottom: 100px;
  transition: 3s;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-align: center;
  color: #8f9fa0;
  &:hover {
    color: rgb(246, 246, 246);
    background-color: #8f9fa0;
    transition: 3s;
  }
}