.contact {
  .intro-section {
    height: 600px;
    background-color: $brand-dark-gray;
    background-image: image-url('spree/frontend/banners/contact_banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;

    .contact-icon path {
      color: $brand-primary;
      fill: $brand-primary;
    }

    .contact-note {
      letter-spacing: 0.1em;
      font-size: 10px;
      border-radius: 3px;
      border: 1px solid $brand-primary;
      padding: 5px;
    }
  }
  .contact-form-section {
    font-weight: normal;
    background-color: #f6f6f6;
    label {
      color: #adadad;
    }
    textarea {
      min-height: 200px;
    }
  }

}
