
body {
  margin: 0;
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

h6 {
  font-size: 24px;
  font-weight: 500;
  color: #434342;
  font-family: "GT Walsheim", "Montserrat", sans-serif;
}

.coverage-page {
  .coverage {
    height: 360px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blog-header.jpg");
    background-size: cover, cover;
    background-position: center, center;
    color: white;

    .text-center {
      color: white;
      opacity: 1;
      margin-bottom: 185px;
    }
  }

}

/*For form*/
label {
  opacity: 0.3;
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  margin-bottom: 5px;
}

.form-control {
  height: 50px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #e2e2e2;
}

.btn-primary {
  transition: 0.5s;
  cursor: pointer;
  height: 50px;
  border-radius: 3px;
  background-color: #ff6b00;
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
  border: none;
  &:hover {
    background-color: #ff6b00;
    opacity: 0.8;
    transition: 0.5s;
  }
}

/*End of form*/

/*Cities locations*/
.location {
  .cities {
    background-color: #f6f6f6;
    background: #f6f6f6;
    color: black;
    border-top: 1px solid #f6f6f6;
    .cities-title {
      margin-top: 92px;
    }
    .divider {
      border-top-color: #ff6b00;
    }
    .cod-block {
      height: 280px;
      width: 790px;
      padding-top: 40px;
      padding-bottom: 42px;
      position: relative;
      margin-top: -122px;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 0 13px 50px 0 rgba(0, 0, 0, 0.04);
      padding-right: 0px;
      padding-left: 0px;
      margin-bottom: 22px;

      form {
        width: 100%;
        margin-right: 98px;
        margin-left: 87px;
        margin-top: 38px;
        margin-bottom: 29px;
        .form-group {
          margin-bottom: 0px !important;
        }

        .btn-primary {
          width: 265px;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 0px;
          padding-top: 0px;
          &:hover {
            opacity: 0.8;
          }
        }
        .form-control {
          width: 313px;
          margin-right: 27px;
        }
      }
      .reply {
        margin-left: 87px;
        p {
          font-family: "GT Walsheim", "Montserrat", sans-serif;
          font-size: 16px;
          text-align: center;
          color: #8f9fa0;
          margin-left: 15px;
          a {
            font-family: "GT Walsheim", "Montserrat", sans-serif;
            font-weight: 600;
            color: #ff6b00;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
      .oval {
        width: 22.8px;
        height: 22.8px;
        border: solid 2px #ff6b00;
        border-radius: 50%;
        text-align: center;
      }
      .oval:before {
        content: '+';
        color: #ff6b00;
        font-size: 31px;
        position: relative;
        bottom: 13px;
        font-weight: 500;
        display: block;
        transform: rotate(45deg);

      }
    }
    .cities-section {
      .divider {
        border-top-color: #d8d8d8;
        height: 1px;
        border-radius: 3px;
      }
      .city-text {
        color: #8f9fa0;
      }
    }
  }

  .soon-cities {
    margin-bottom: 150px;
  }
  .map {
    height: 688px;
    background-color: white;
    width: 100%;

    .i-map {
      // width:56%;
      background: url("../img/map.png") no-repeat center left;
    }
    .m-form {
      width: 44%;
      margin-left: 56%;
      form {
        margin-left: 27px;
        margin-top: 97px;
        label {
          margin-bottom: 12px;
        }
        h6 {
          margin-bottom: 57px;
        }
        .form-control {
          width: 255px;
          margin-bottom: 24px;
        }
        .btn-primary {
          margin-top: 15px;
          width: 133px;
        }
      }
    }
  }
}

/*End of cities locations*/

@media (max-width: 991px) {


  .location {
    .map{
      .i-map {
        background: none;

      }
      .m-form{
        width: auto;
        margin-left: 5%;
        form{
          margin-right: 27px;
          .btn-primary{
            width: 255px;
          }
        }
      }
    }
    .cities {
      .cod-block {
        height: auto;
        width: auto;
        form{
          width: auto;
          .btn-primary{
            width: 313px;
            margin-top: 15px;
          }
        }
        .reply{
          margin-right: 87px;
        }
      }

    }
  }
  .divider{
    width: 35px;
  }
}

@media (max-width: 576px) {
  .location{
    .cities{
      .cod-block{
        .reply, form{
          margin-right: 5%;
          margin-left: 5%;


        }
      }
    }
  }
}