.customer-support {
  background-color: #f6f6f6;
  padding-top: 75px;

  .divider {
    border-top: 4px solid $brand-primary;
    width: 35px;
  }

  .contact-note {
    color: #adadad;
    letter-spacing: 0.1em;
    font-size: 10px;
    border-radius: 3px;
    border: 1px solid #adadad;
    padding: 5px;
  }
}
