@charset "UTF-8";
.faq {
  height: 240px;
  margin-bottom: 65px !important; }

.hide,
.hide + label ~ div {
  display: none; }

/* ╨▓╨╕╨┤ ╤В╨╡╨║╤Б╤В╨░ label */
.hide + label {
  margin: 0;
  padding: 0;
  color: green;
  cursor: pointer;
  display: inline-block; }

/* ╨▓╨╕╨┤ ╤В╨╡╨║╤Б╤В╨░ label ╨┐╤А╨╕ ╨░╨║╤В╨╕╨▓╨╜╨╛╨╝ ╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╤В╨╡╨╗╨╡ */
.hide:checked + label {
  color: red;
  border-bottom: 0; }

/* ╨║╨╛╨│╨┤╨░ ╤З╨╡╨║╨▒╨╛╨║╤Б ╨░╨║╤В╨╕╨▓╨╡╨╜ ╨┐╨╛╨║╨░╨╖╤Л╨▓╨░╨╡╨╝ ╨▒╨╗╨╛╨║╨╕ ╤Б ╤Б╨╛╨┤╨╡╤А╨╢╨░╨╜╨╕╨╡╨╝  */
.hide:checked + label + div {
  display: block;
  background: #efefef;
  -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
  -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
  box-shadow: inset 3px 3px 10px #7d8e8f;
  margin-left: 20px;
  padding: 10px;
  /* ╤З╤Г╤В╨╛╤З╨║╤Г ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕ ╨┐╤А╨╕ ╨┐╨╛╤П╨▓╨╗╨╡╨╜╨╕╨╕ */
  -webkit-animation: fade ease-in 0.5s;
  -moz-animation: fade ease-in 0.5s;
  animation: fade ease-in 0.5s; }

/* ╨░╨╜╨╕╨╝╨░╤Ж╨╕╤П ╨┐╤А╨╕ ╨┐╨╛╤П╨▓╨╗╨╡╨╜╨╕╨╕ ╤Б╨║╤А╤Л╤В╤Л╤Е ╨▒╨╗╨╛╨║╨╛╨▓ */
@-moz-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.hide + label:before {
  background-color: #1e90ff;
  color: #fff;
  content: "\002B";
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  margin: 3px 5px;
  text-align: center;
  width: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.hide:checked + label:before {
  content: "\2212"; }

/*# sourceMappingURL=faq.css.map */
