.faq-page {
  background-color: white;
  .text-center {
    color: white;
    opacity: 1;
    margin-bottom: 66px;
  }

}

.faq {
  background-color: #343434!important;
  height: 240px;
}

.open-text {
  margin-bottom: 50px;
}

.hide-text {
  width: 770px;
  margin-bottom: 124px;
  margin-top: 93px;
}

.hide,
.hide + label ~ div {
  display: none;
}

.hide + label {
  opacity: 1;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  color: black;
  cursor: pointer;
  display: inline-block;
}

.hide:checked + label {
  color: #ff6b00;
  border-bottom: 0;

}

.hide:checked + label + div {
  display: block;
  margin-left: 48px;
  margin-top: 40px;
  font-size: 16px;
  color: #8f9fa0;
  line-height: 28px;
  -webkit-animation: fade ease-in 0.5s;
  -moz-animation: fade ease-in 0.5s;
  animation: fade ease-in 0.5s;
}

@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}



@keyframes nfade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hide + label:before {
  color: black;
  content: url("../img/arrows.png");
  display: block;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  opacity: 0.3;
  margin: 3px 5px;
  text-align: center;
  width: 26px;
  margin-right: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.hide:checked + label:before {
  opacity: 1;
  margin-right: 18px;
  animation: transform_r ease-in 0.5s;
  transform: rotate(90deg);
  content: url("../img/arrows-bottom.png");

}
.phone.h1.mt-3 {
  color: black!important;
}

@keyframes transform_r {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(90deg)
  }
}
@keyframes transform_l {
  from{
    transform: rotate(90deg)
  }
  to {
    transform: rotate(0deg)
  }
}

@media (max-width: 991px) {
  .hide-text{
    width: auto;
    height: auto;
  }

}