@font-face {
	font-family: 'GT Walsheim';
	src: font-url('GT-Walsheim-Medium.eot');
	src: font-url('GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
    font-url('GT-Walsheim-Medium.ttf') format('truetype'),
    font-url('GT-Walsheim-Medium.otf') format('opentype'),
    font-url('GT-Walsheim-Medium.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

// @font-face {
// 	font-family: 'GT Walsheim';
// 	src: font-url('GT-Walsheim-Medium-Oblique.eot');
// 	src: font-url('GT-Walsheim-Medium-Oblique.eot?#iefix') format('embedded-opentype'),
//     font-url('GT-Walsheim-Medium-Oblique.ttf') format('truetype'),
//     font-url('GT-Walsheim-Medium-Oblique.otf') format('opentype'),
//     font-url('GT-Walsheim-Medium-Oblique.woff') format('woff');
// 	font-weight: normal;
// 	font-style: italic, oblique;
// }

@font-face {
	font-family: 'GT Walsheim';
	src: font-url('GT-Walsheim-Light.eot');
	src: font-url('GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'),
    font-url('GT-Walsheim-Light.ttf') format('truetype'),
    font-url('GT-Walsheim-Light.otf') format('opentype'),
    font-url('GT-Walsheim-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'GT Walsheim';
	src: font-url('GT-Walsheim-Bold.eot');
	src: font-url('GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'),
    font-url('GT-Walsheim-Bold.ttf') format('truetype'),
    font-url('GT-Walsheim-Bold.otf') format('opentype'),
    font-url('GT-Walsheim-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

// @font-face {
// 	font-family: 'GT Walsheim';
// 	src: font-url('GT-Walsheim-Bold-Oblique.eot');
// 	src: font-url('GT-Walsheim-Bold-Oblique.eot?#iefix') format('embedded-opentype'),
//     font-url('GT-Walsheim-Bold-Oblique.ttf') format('truetype'),
//     font-url('GT-Walsheim-Bold-Oblique.otf') format('opentype'),
//     font-url('GT-Walsheim-Bold-Oblique.woff') format('woff');
// 	font-weight: bold;
// 	font-style: italic, oblique;
// }
//
// @font-face {
// 	font-family: 'GT Walsheim';
// 	src: font-url('GT-Walsheim-Light-Oblique.eot');
// 	src: font-url('GT-Walsheim-Light-Oblique.eot?#iefix') format('embedded-opentype'),
//     font-url('GT-Walsheim-Light-Oblique.ttf') format('truetype'),
//     font-url('GT-Walsheim-Light-Oblique.otf') format('opentype'),
//     font-url('GT-Walsheim-Light-Oblique.woff') format('woff');
// 	font-weight: 300;
// 	font-style: italic, oblique;
// }

h1,h2,h3,h4,h5,h6, p{
	font-family: "GT Walsheim", "Montserrat", sans-serif !important;
}
