footer {
  background-color: $gray-900;
  color: #ddd;
  .nav-links a {
    color: #999;
    font-weight: normal;
    &:hover {
      color: #fff;
    }
  }
  .nav-item.active {
    a {
      color: #fff;
    }
  }

  hr {
    border-top: 1px solid #555;
  }

  .footer-images {
    height: 180px;
    background-image: image-url('spree/frontend/footer.png');
    background-position: center;
    border-top: 4px solid $brand-primary;
    .hash-tag {
      border-radius: 0 0 3px 3px;
    }
  }

  .social-buttons {
    a {
      color: $brand-medium-gray;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}
