.hero {
  height: 600px;
  background-color: $brand-dark-gray;
  background-image: image-url('spree/frontend/banners/home_banner.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  .topbar {
    .logo .logo-text {
      margin-left: -100px;
      font-size: 0.8rem;
      padding-top: 14px;
    }
  }
  .title {
    h1 {
      font-weight: 600;
      font-size: 3.5rem;

      /*@include media-breakpoint-down(sm) {
        font-size: 2.5rem;
      }*/
    }
    span {
      border-bottom: 8px solid $brand-primary;
      display: inline-block;
      line-height: 45px;
    }
  }
  .cta {
    a {
      padding: 20px 50px 20px 50px;
    }
  }
}

.steps {
  background-color: #f6f6f6;
  padding-bottom: 80px;
  .description-text p {
    margin-left: 23px;
    border-left: 1px solid #ddd;
    padding-left: 30px;
    margin-top: 10px;
  }
  .step-tiles {
    .step-image img {
      width: 100%;
    }
    .step-header {
      .step-title {
        text-transform: uppercase;
        letter-spacing: 0.02em;
        padding-top: 5px;
        h5 {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .step-number {
            font-size: 1.75rem;
            font-weight: 500;
            color: $brand-light-gray;
      }
    }
  }
}

.offers {
  font-size: 1.5rem;
  .offer {
    min-height: 350px;
    background-size: cover;
    background-position: center;
  }
  .offer1 {
    background-image: image-url('spree/frontend/home/offer1.jpg');
  }
  .offer2 {
    background-image: image-url('spree/frontend/home/offer2.jpg');
    color: white;
  }
  .offer3 {
    background-image: image-url('spree/frontend/home/offer3.jpg');
  }
  .offer4 {
    background-image: image-url('spree/frontend/home/offer4.jpg');
    color: white;
  }
  .offer-text {
    width: 35%;
    font-weight: 600;
  }
}

.services {
  .custom-tile {
    background-color: #f4f4f4;
    padding-left: 40px;
    .phone-icon svg {
      stroke: $brand-primary;
      fill: none;
      width: 30px;
      height: 30px;
    }
    .custom-tile-hr {
      border-top-width: 2px;
    }
  }
}

.benefits {
  background-color: $brand-primary;
  color: white;

  $gradient-start: #FF8A35;
  $gradient-end: #FF6B00;
  background: radial-gradient(ellipse at center top, $gradient-start 0%, $gradient-end 100%);

  .benefit1 .benefit-image {
    width: 39.5%;
  }
  .benefit2 .benefit-image {
    width: 27%;
  }
  .benefit3 .benefit-image {
    width: 28.75%;
  }
  .divider {
    border-top-color: #ffc69d;
  }
  .description-text {
    color: #ffc69d;
  }
}

.cities {
  background-color: #31888d;
  color: white;

  $gradient-start: #3A959A;
  $gradient-end: #19656A;
  background: radial-gradient(ellipse at center top, $gradient-start 0%, $gradient-end 100%);

  .cities-section {
    .cities-section-title-text {
      font-weight: 300;
    }
    .city-text {
      margin-top: 5px;
      color: #95c0c3;
    }
    .divider {
      width: 100%;
      border-top-color: #428e93;
      border-top-width: 2px;
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
  .divider {
    border-top-color: #70aeb2;
  }
}

.brands {
  .brands-title {
    color: $brand-medium-gray;
  }
}

.subheader-text {
  color: $brand-primary;
  font-weight: 500;
}

.description-text {
  color: $brand-medium-gray;
}

.divider {
  width: 3%;
  /*@include media-breakpoint-down(sm) {
    width: 15%;
  }*/
  border-top-color: $brand-primary;
  border-top-width: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}
