
.navbar, .nav-bar {
  .logo-text {
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
    color: #eee;
    white-space: nowrap;

    font-size: 12px;
    /*@include media-breakpoint-down(sm) {
      font-size: 9px;
    }*/
  }
  &.dark {
    background-color: #363533;
  }
  .nav-item.active {
    a {
      color: #fff;
    }
  }

  .nav-phone {
    white-space: nowrap;
  }

  .navbar-toggler {
    color: #999;
    &:hover {
      color: #fff;
    }
  }

  #navbar-links a {
    font-weight: normal;
    color: #999;
    margin-left: 30px;
    &:hover {
      color: #fff;
    }
  }

  #navbar-links {
    &.collapsing, &.show {
      background-color: #fff;
      a {
        margin: 0;
        padding: 10px 0;
        font-size: 20px;
        color: #000;
        text-align: center;
        &:first-child {
          padding-top: 15px;
        }
        &:last-child {
          padding-bottom: 15px;
        }
        &:hover, &.active {
          background-color: #f9f9f9;
          color: $brand-primary;
        }
      }
    }
   }
}
