.services {
  .cta-primary {
    position: relative;
    top: -25px;
    .cta-btn {
      box-shadow: 0 20px 30px -15px rgba(0,0,0,0.2);
    }
  }
  .cta-btn {
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  .cta-section {
    background-color: $brand-primary;

    $gradient-start: #FF8A35;
    $gradient-end: #FF6B00;
    background: radial-gradient(ellipse at center top, $gradient-start 0%, $gradient-end 100%);
  }
  .intro-section {
    height: 500px;
    background-color: $brand-dark-gray;
    background-image: image-url('spree/frontend/banners/services_banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 100px;
  }
  .services-section {
    background-color: #f6f6f6;
    $displacement: -40px;
    .services-container {
      position: relative;
      top: $displacement;
    }
    .card {
      &:hover {
        background-color: darken(#fff, 2%);
      }
      border: none;
      color: #212529;
      box-shadow: 0px 2px 1px #ddd;
      .card-block {
        min-height: 195px;
      }
    }
  }
}
