.single-city-page .single-city {
  height: 360px; }
  .single-city-page .single-city .text-center {
    color: white;
    opacity: 1;
    margin-bottom: 160px; }

/*# sourceMappingURL=single-city.css.map */
