.single-city-page {
  .single-city {
    height: 360px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blog-header.jpg");
    background-size: cover, cover;
    background-position: center, center;
    color: white;
    .text-center {
      color: white;
      opacity: 1;
      margin-bottom: 160px;
    }
  }

  .services {
    background-color: #f6f6f6;
    .text-width{
      width: 70%;
      margin-top: 107px;
      margin-bottom: 73px;
    }

    h3{
      margin-bottom: 30px;
    }
    p{
      margin-bottom: 24px;
    }
    .carousel {
      margin-top: 61px;
    }
    .carousel-indicators {
      top: -48px
    }
  }
}

.carousel-indicators li{
  cursor: pointer;
  background-color: #ff6b00!important;
  opacity: 0.2;
  width: 28px;
  height: 4px;

}
.carousel-indicators{
  .active{
    opacity: 1;
  }
}

.reviews{
  height: 750px;
  background-color: #ffffff;
  .carousel-indicators{
    top:-50px;
  }
  h4{
    font-family: "GT Walsheim", "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    text-align: left;
    color: #434342;
    margin-bottom: 9px;
  }
  h5{
    font-family: "GT Walsheim", "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #434342;
  }
}
h3{
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  color: #434342;
}
p{
  font-family: "GT Walsheim", "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #8f9fa0;
}

.review-photo{
  border-radius: 50%;
  width: 50px;
  height: 50px;

}
.testimonial-name{
  margin-left: 15px;
}

.oi{
  color: #ffbc00;

}
.false{
  color: #916800!important;
}


@media (max-width: 769px) {
  .reviews{
    height: auto;
  }
  
}