.terms-page {
  .terms {
    height: 240px;
    background-color: #343434!important;
    .text-center {
      color: white;
      opacity: 1;
      margin-bottom: 66px;
    }
  }

  .anchors {
    margin-top: 83px;
    left: 175px;

    ol {
      color: #8f9fa0;
      li {
        width: 350px;
        a {
          width: 350px;
          height: 368px;
          font-family: $font-family-sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 2.88;
          text-align: left;
          color: #8f9fa0;


          &:active , &:hover{
            color: #ff6b00;

          }
        }
      }
    }
  }

  .content{
    width: 720px;
    margin-top: 93px;
    margin-bottom: 93px;
  }
  h6{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    color: #434342;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 20px;

  }
  p{
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    color: #8f9fa0;
    margin-bottom: 30px;
  }
}

@media (max-width: 1300px) {
  .terms-page{
    .anchors{
      left: 70px;
    }

  }
}
@media (max-width: 1140px) {
  .terms-page{
    .content{
      width: 520px;
    }
  }
}
@media (max-width: 950px) {
  .terms-page{
    .anchors{
      left: 30px;
      
    }
  }
}
@media (max-width: 800px) {
  .terms-page{
    .anchors{
      display: none;
    }
  }
}