// Variables
// --------------------------------------------------

//== Colors

// Brand guidlines
$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$brand-orange: #ff6b00;
$brand-dark-gray: #434342;
$brand-medium-gray: #8f9fa0;
$brand-light-gray: #d9e0e2;

$brand-primary: $brand-orange;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #ff6b00;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $orange,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

//---

//== Scaffolding
//
$link-hover-decoration: none; //underline


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:  'GT Walsheim', 'Montserrat', sans-serif;
$font-family-serif:       'Arvo', serif;
$font-family-base:        $font-family-sans-serif;
$font-weight-normal: 300;

//== Forms
$input-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
